version: '3'
services:
  lap-mailchimp:
    build: .
    environment:
      - GOOGLE_SHEETS_API_KEY=<GOOGLE SHEETS API KEY>
      - SPREADSHEET_ID=<GOOGLE SHEETS DOCUMENT ID>
      - SPREADSHEET_RANGE_NAME=<GOOGLE SHEETS DOCUMENT RANGE>
      - MAILCHIMP_API_KEY=<MAILCHIMP API KEY>
      - MAILCHIMP_LIST_ID=<MAILCHIMP LIST IDS>